@model HRVacationSystemUI.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutSierra.cshtml";

}


<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>HRVacation </h2>
            <p>İletişim</p>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Get in Touch Area =================-->
<section class="get_in_touch_area p_100">
    <div class="container">
        <div class="row get_touch_inner">
            <div class="col-lg-6">
                @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                {
                    <div class="form-group col-lg-6">
                        @Html.TextBoxFor(x => x.Name, null, new { @class = "mail_text", placeholder = "İsim" })

                    </div>
                    <div class="form-group col-lg-6">
                        @Html.TextBoxFor(x => x.Surname, null, new { @class = "mail_text", placeholder = "Soyisim" })

                    </div>
                    <div class="form-group col-lg-6">
                        @Html.TextBoxFor(x => x.Email, null, new { @class = "mail_text", placeholder = "Email" })
                    </div>
                    <div class="form-group col-lg-12">
                        @Html.TextBoxFor(x => x.Password, null, new { @class = "mail_text", placeholder = "Şifre", @type = "password" })

                    </div>
                    <div class="form-group col-lg-12">
                        @Html.TextBoxFor(x => x.ConfirmPassword, null, new { @class = "mail_text", placeholder = "Şifre Tekrarı", @type = "password" })


                    </div>
                    <div class="form-group col-lg-12">
                        @Html.TextBoxFor(x => x.BirthDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "mail_text" }) <br />

                    </div>
                    <div class="form-group col-lg-12">
                        @Html.DropDownListFor(x => x.GenderPage, (List<SelectListItem>)ViewBag.Genders) <br />

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit">
                                KAYIT OL
                            </button>
                        </div>
                    </div>
                }
                </div>
            <div class="col-lg-6">
                <div class="touch_details">
                    <div class="l_title">
                        <img src="img/icon/title-icon.png" alt="">
                        <h6>Merhaba</h6>
                        <h2>Lütfen arayın</h2>
                    </div>
                    <p>Human Group .net eğitimi 2023</p>
                    <a href="tel:0312 000 00 00"><h5>Call us now</h5></a>
                    <a href="tel:0312 000 00 00"><h4>0312 000 00 00</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Get in Touch Area =================-->
<!--================Map Area =================-->
<section class="contact_map_area">
    <div id="mapBox1" class="mapBox1 row m0"
         data-lat="40.701083"
         data-lon="-74.1522848"
         data-zoom="15"
         data-marker=""
         data-info=""
         data-mlat=""
         data-mlon="">
    </div>
    <div class="map_location_box">
        <div class="container">
            <div class="map_l_box_inner">
                <div class="bd-callout">
                    <h3> Yazılım ofisi</h3>
                    <p>252. sok <br /> Türkiye</p>
                    <h4><a href="#">0312 000 00 00</a> <a href="#">contact@hrvacaciton.com</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
